.form-row
	.form-group.col-md-6
		label.col-md-12 First Name:
		input(type="text" name="first_name" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Last Name:
		input(type="text" name="last_name" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Email:
		input(type="text" name="email" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Password:
		input(type="text" name="password" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Confirm Password:
		input(type="text" name="confirm_password" class="form-control")
		
.form-group.text-right
	input.col-md-3(type="submit" value="Submit" class="btn btn-primary")