.form-row
	.form-group.col-md-6
		label.col-md-12 First Name:
		input(type="text" name="first_name" value="" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Last Name:
		input(type="text" name="last_name" value="" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Email:
		input(type="text" name="Email" value="" class="form-control")
		
	.form-group.col-md-6
		label.col-md-12 Email:
		input(type="text" name="Email" value="" class="form-control")
		
.form-group.text-right
	input.col-md-3(type="submit" value="#{buttonName}" class="btn btn-primary")