extends ../layout

block content
  include ../partials/search_nav
  .row
    include ../partials/left_nav
    .col-lg-9.book-list-wrapper
      include ../partials/flash
      include ../books/partials/list