extends ../layout

block content
  .row.justify-content-md-center
    .col-md-8
      include ../partials/errors
      form(action="/books/create" method="post" enctype='multipart/form-data' class="my-4")
        div.form-title
          h4 ADD BOOK
        include partials/book_details
