<!DOCTYPE html>
<html>
<head>
    <title>New book</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <form action="/books/create" method="post">
        Book Name: <input type="text" name="name" value="" /><br><br>
        Author Id: <input type="text" name="AuthorId" value="" /><br><br>
        <input type="file" name="filefield"><br />\
        <input type="submit" value="accept"/><br><br><hr>
    </form>
</body>
</html>