h1 #{book.name}

div
  button#prev Previous
  button#next Next
  span
    | Page:
    span#page_num
    |  /
    span#page_count


canvas(id="the-canvas")

script(src='/components/pdfjs-dist/build/pdf.js').
script(type="text/javascript").
  var url = '/uploads/' + "#{book.uploadBookName}";
script(src='/javascripts/pdf_viewer.js').
