.container
  a.navbar-brand.drg-logo(href='#')
    img(src='/images/drg-big@2x.png')
    | BOOK SHELL
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    if authenticatedUser
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/books')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/categories') Categories
        li.nav-item
          a.nav-link(href='/registrations/logout') Logout
        //li.nav-item #{authenticatedUser}