head
  title DRG Library
  meta(charset="utf-8")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/app-assets/css/application.scss')
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
  script(src='/components/jquery/dist/jquery.js')
  script(src='/components/popper.js/dist/umd/popper.js')
  script(src='/components/bootstrap/dist/js/bootstrap.js')
  script(src='/app-assets/javascripts/application.js')