.col-lg-3
	h3.my-4 FILTERS
	.list-group
		a.list-group-item(href='#') UX Design
		a.list-group-item(href='#') ROR
		a.list-group-item(href='#') Angular
		a.list-group-item(href='#') Big Data
		a.list-group-item(href='#') Hadoop
		a.list-group-item(href='#') Node Js