<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
      <div class="container">
        <h1><%= title %></h1>
        <p class="btn btn-lg btn-default">Welcome to <%= title %></p>
        <div><%= data %></div>
      </div>
      <footer>
        <% include partials/footer %>
      </footer>
    </body>
</html>
