doctype html
html
  include partials/head

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      include partials/header
    // Page Content
    .container
      block content
      
    include partials/footer