doctype html
html
  include partials/head

  body
    #wrapper.toggled
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href='#')
              | DRG Library
          li
            a(href='/books') Books
          li
            a(href='/categories') Categories
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
          h1 Simple Sidebar
          block content
      // /#page-content-wrapper

  include partials/footer
