/* DROPDOWNS
================================================== */
.dropdown-menu {
  padding: 5px; }
  .dropdown-menu li {
    border-radius: 3px; }
    .dropdown-menu li > a,
    .dropdown-menu li.checkbox > label,
    .dropdown-menu li.radio > label {
      border-radius: 3px; }
    .dropdown-menu li.form-group {
      padding-left: 10px; }
    .dropdown-menu li.searchbox {
      margin: 5px; }
    .dropdown-menu li.checkbox.checkbox-lg > label {
      font-size: 14px; }
    .dropdown-menu li.checkbox.checkbox-parent:after {
      margin-top: 5px;
      margin-bottom: 5px; }
    .dropdown-menu li.checkbox.checkbox-parent {
      margin-bottom: 5px; }
  .dropdown-menu .parent-select li {
    margin-left: 5px; }
  .dropdown-menu .child-select li.radio, .dropdown-menu .child-select li.checkbox {
    margin-left: 10px;
    margin-right: 5px; }
  .dropdown-menu .child-select .dropdown-header {
    margin-left: 10px;
    margin-right: 10px; }
  .dropdown-menu.two-tier-select .set-height {
    margin-top: 5px; }

.child-select li {
  display: block !important; }

.date-range-select {
  width: 300px; }

.dropdown-menu li.radio.disabled label,
.dropdown-menu li.checkbox.disabled label {
  color: #bbb; }

.dropdown-menu .nav-pills {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px; }

.child-select.active.in + .child-select.active.in {
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px; }

.dropdown-menu li.checkbox.parent-checkbox label,
.dropdown-menu li.checkbox.parent-checkbox.active label {
  font-weight: bold; }

.checkbox.parent-checkbox:after {
  content: '';
  height: 1px;
  border-bottom: 1px dotted #e5e5e5;
  display: block;
  margin: 3px 10px; }

.dropdown-menu .parent-select .active > a {
  border-radius: 3px 0 0 3px;
  color: #fff;
  border-left: none;
  padding-left: 10px;
  font-weight: bold;
  background: #732875; }
  .dropdown-menu .parent-select .active > a:hover, .dropdown-menu .parent-select .active > a:focus {
    color: #fff;
    border-left: none;
    padding-left: 10px;
    font-weight: bold;
    background: #732875; }

.parent-select li.active:after {
  color: #fff; }

.col-md-divider-right + .col-md-divider-left {
  margin-left: -1px; }

.dropdown-footer {
  border-top: 1px solid #e5e5e5;
  display: block;
  padding: 10px 10px 10px;
  margin: 5px -5px 0;
  position: relative;
  z-index: 2;
  height: 45px; }

.dropdown-footer-buttons {
  font-size: 0; }
  .dropdown-footer-buttons .btn + .btn {
    margin-left: 10px; }

.dropdown-footer .btn-link.disabled {
  color: #666; }

.dropdown-footer .btn-primary.disabled {
  background: #bbb;
  border-color: #bbb; }
  .dropdown-footer .btn-primary.disabled:hover {
    background: #bbb;
    border-color: #bbb; }

.dropdown-footer-options {
  margin-left: -5px;
  font-weight: normal; }

.no-labels-message,
.parent-not-selected {
  text-align: center;
  font-size: 16px;
  color: #999;
  padding: 120px 30px 0; }

.no-labels-message {
  padding: 60px 15px; }

.parent-not-selected {
  padding: 120px 30px 0; }

/*# sourceMappingURL=dropdowns.css.map */