extends ../layout

block content
  .row.justify-content-md-center
    .col-md-8
      include ../partials/flash
      div.my-4
        div.form-title
          h4 CATEGORIES
          a(href='/categories/new') Create new Category
          each category in data
            .form-row
              .form-group.col-md-6
                label Category Name: #{category.name}
              .form-group.col-md-6
                .form-group.text-right
                  a(href='/categories/#{category.id}/edit' class='col-md-3 btn btn-info') Edit
                  a(href='/categories/#{category.id}/destroy' class='col-md-3 btn btn-danger') Delete