extends ../layout

block content
  h1 Welcome to Category Index page
  a(href='/categories/new') Create new Category
  div
    each category in data
      li
        Category Name:#{category.name} -
        a(href='/categories/#{category.id}/edit') Edit -
        a(href='/categories/#{category.id}/destroy') Delete