extends ../layout

block content
  if errors
    - _.forEach(errors, function(value, key) {
        .alert.alert-danger #{key} - #{value.msg}
    -  });

  form(action="/categories/create" method="post")
      include partials/form