extends ../layout

block content
  if errors
    - console.log(errors)
    each k, i in errors
      .alert.alert-danger #{k}

  form(action="/categories/create" method="post")
      include partials/form
