label Book Name:
  input(type="text" name="name" value="")
label Author Id:
  input(type="text" name="AuthorId" value="")
label File
  input(type='file', name='uploadBookName')

input(type="submit" value="Create")