.row.my-4 
	a(href='/books/download_xls') Xls Download

.row.my-4
	if data.length == 0
		div.empty_record No Data Present
	
	each book in data
		.col-lg-3.col-md-4.mb-4
			.card.h-100
				a(href='#')
					include ../partials/book_image
				.card-body
					h5.card-title
						a(href="/books/show/#{book.id}") #{book.name}
					h6 Rs 1565
					p.card-text #{book.description}
				.card-footer
					small.text-muted ★ ★ ★ ★ ★
