.row.my-4
	if data.length == 0
		div.empty_record No Data Present
	
	each book in data
		.col-lg-3.col-md-4.mb-4
			.card.h-100
				a(href='#')
					- var image = (_.isEmpty(book.image)) ? '/images/no_image.png' : '/uploads/'+ book.image
					img.card-img-top(src="#{image}", alt='')
				.card-body
					h5.card-title
						a(href="/books/show/#{book.id}") #{book.name}
					h6 Rs 1565
					p.card-text #{book.description}
				.card-footer
					small.text-muted ★ ★ ★ ★ ★
