extends ../layout

block content
	.row.justify-content-md-center
		.col-md-8
			include ../partials/errors
			form(action="/authors/create" method="post" class="my-4")
				div.form-title
					h4 ADD AUTHOR
				include partials/form